<script src="https://kit.fontawesome.com/fcaf7bc4c1.js" crossorigin="anonymous"></script>
<div class="container text-center">
  <% if @rare_calculation_form.errors.any? %>
  <%= @rare_calculation_form.errors.count %>件のエラーが発生しました
    <% @rare_calculation_form.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <%= form_with model: @rare_calculation_form, url: rare_calculation_result_path, method: :post do |form| %>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><%= form.label :target_rare, "目標レアリティ", class: "form-label" %></td>
          <td><%= form.number_field :target_rare, class: "form-control-sm", min: 4, max: 12, style: "width:100px; height:53px;" %></td>
        </tr>
        <tr>
          <td><%= form.label "レア9", class: "form-label" %></td>
          <td><%= form.number_field :rare_9, class: "form-control-sm", min: 0, max: 3, style: "width:100px; height:53px;" %></td>
        </tr>
        <tr>
          <td><%= form.label "レア8", class: "form-label" %></td>
          <td><%= form.number_field :rare_8, class: "form-control-sm", min: 0, max: 9, style: "width:100px; height:53px;" %></td>
        </tr>
        <tr>
          <td><%= form.label "レア7", class: "form-label" %></td>
          <td><%= form.number_field :rare_7, class: "form-control-sm", min: 0, max: 27, style: "width:100px; height:53px;" %></td>
        </tr>
        <tr>
          <td><%= form.label "レア6", class: "form-label" %></td>
          <td><%= form.number_field :rare_6, class: "form-control-sm", min: 0, max: 81, style: "width:100px; height:53px;" %></td>
        </tr>
        <tr>
          <td><%= form.label "レア5", class: "form-label" %></td>
          <td><%= form.number_field :rare_5, class: "form-control-sm", min: 0, max: 243, style: "width:100px; height:53px;" %></td>
        </tr>
        <tr>
          <td><%= form.label "レア4", class: "form-label" %></td>
          <td><%= form.number_field :rare_4, class: "form-control-sm", min: 0, max: 729, style: "width:100px; height:53px;" %></td>
        </tr>
        <tr>
          <td><%= form.label "レア3", class: "form-label" %></td>
          <td><%= form.number_field :rare_3, class: "form-control-sm", min: 0, max: 2187, style: "width:100px; height:53px;" %></td>
        </tr>
        <tr>
          <td><%= form.label "レア2", class: "form-label" %></td>
          <td><%= form.number_field :rare_2, class: "form-control-sm", min: 0, max: 6561, style: "width:100px; height:53px;" %></td>
        </tr>
        <tr>
          <td><%= form.label "レア1", class: "form-label" %></td>
          <td><%= form.number_field :rare_1, class: "form-control-sm", min: 0, max: 19683, style: "width:100px; height:53px;" %></td>
        </tr>
      </table>
    </table>
    <div>
      <button type="submit" class="btn btn-success">
        <i class="fa-solid fa-calculator"></i>
        結果を見る
      </button>
    </div>
  <% end %>
</div>

今日はデプロイをやった